<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky background-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="/news" data-section="news" class="logo">
                        <img src="/images/university-logo.png" alt="University Logo" style="height: 50px;" />
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="/news" data-section="news">Noticias</a></li>
                        <li class="scroll-to-section"><a href="/appointments" data-section="appointments">Horas consulta</a></li>
                        <li class="scroll-to-section"><a href="/advisement" data-section="advisement">Consulta de Cursos</a></li>
                        <li class="scroll-to-section"><a href="/profile" data-section="profile">Perfil</a></li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

