<section class="section-advisements" id="advisements">
    <div class="container">
        <div class="d-flex justify-content-end mb-3">
            <button class="general-button-green" onclick="ShowCreateAdvisementForm()">+ Crear nueva consulta</button>
        </div>

        <h3>Mis consultas</h3>
        <div class="table-responsive-general">
            <table class=" w3-table-all-general">
                <thead>
                    <tr>
                        <th>Curso</th>
                        <th>Estudiante</th>
                        <th>Fecha</th>
                        <th>Detalle</th>
                    </tr>
                </thead>
                <tbody id="user-advisements">
                    <!-- Datos dinámicos de consultas de usuarios -->
                </tbody>
            </table>

        </div>

        <br />
        <br />
        <br />
        <h3>Todas las consultas</h3>
        <div class="table-responsive-general">
            <table class=" w3-table-all-general">
                <thead>
                <tr>
                    <th>Curso</th>
                    <th>Estudiante</th>
                    <th>Fecha</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody id="public-advisements">
                <!-- Datos dinámicos de consultas públicas -->
            </tbody>
        </table>
        </div>
    </div>
</section>



<!-- Sección para crear consulta, permanece oculta -->

<section id="create-advisement" style="display: none; margin: 80px;">
    <div class="w3-container w3-card w3-padding">
        <div class="row">
            <button onclick="loadSection('view/advisement')" class="general-button" style="width:130px">
                ← Volver
            </button>
            <div class="section-title-create-advisement text-center mb-4">
                <h2>Crear consulta</h2>
            </div>

            <form class="form-advisement">
                <!-- Selección de Curso -->
                <div class="mb-3">
                    <label for="course" class="form-label">Curso:</label>
                    <select id="advisement-course-select" class="form-select">
                        <option value="0" selected>Seleccione un curso</option>
                    </select>
                </div>

                <!-- Mensaje -->
                <div class="mb-3">
                    <label for="advisement-content" class="form-label">Mensaje:</label>
                    <textarea id="advisement-content" class="form-control" rows="4" placeholder="Escribe tu consulta aquí..."></textarea>
                </div>

                <!-- Checkbox para consulta pública -->
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="publicCheck">
                    <label class="form-check-label" for="publicCheck">Consulta pública</label>
                </div>

                <!-- Botones -->
                <div class="d-flex gap-2">
                    <button type="button" class="general-button-green" onclick="AddAdvisement()" style="width:50%">Enviar</button>
                    <button type="reset" class="general-button-red" onclick="CancelCreateAdvisement()" style="width:50%">Cancelar</button>
                </div>
            </form>
        </div>
    </div>

</section>
