<section class="section-news" id="news">
    <div class="container">
        <div class="row">
            <h2>Noticias</h2>
            <br />
            <br />
            <div class="row event_box" id="news-container">
                <!--Se cargan las noticias desde el site.js-->
            </div>
        </div>
</section>
