<section class="section-news" id="news">
    <div class="container">
        <div class="row">
            <h2 style="margin-bottom:20px;">Noticias</h2>
            <div id="add-news-btn" style="display:none;">
                <button onclick="loadSection('view/addnews')" class="general-button-green" style="margin-bottom:30px;">
                    + Agregar Noticia</button>

            </div>
            <br />
            <br />
            <div class="row event_box" id="news-container">
                <!--Se cargan las noticias desde el site.js-->
            </div>
        </div>
</section>
