<section class="">

    <div class="col-lg-6">

        <div class="contact-us-content">

            <div class="row">
                    <img src="profile-icon.png" class="">
                    <h2 id="p-name" class=""></h2>   
            </div>

            <div class="row">
                    <label class="">Nombre</label>
                    <input id="p-name2" class="" value="Faraon Love Shady" readonly>         
            </div>

            <div class="row">
                    <label class="">Correo electrónico</label>
                    <input id="p-email" class="" type="email" value="test3@example.com" readonly>                
            </div>

            <div class="row">
                    <label class="">Descripción</label>
                    <input id="p-description" class="" value="" readonly>               
            </div>

            <div class="row">
                    <label class="">LinkedIn</label>
                    <input id="p-linkedin" class="" value="" readonly>
            </div>

            <div class="row">
                    <label class="">Contraseña</label>
                    <input id="p-password" class="" type="password" value="" readonly>              
            </div>

                <button id="p-button" class="orange-button" >Editar</button>

        </div>

        <br/>
        <label id="p-validation"></label>

    </div>

</section>