<section id="profile" class="p-section">
    <div class="profile-main-div">
        <div class="profile-second-div">

            <div class="profile-main-div">
                <img src="" class="" id="p-picture">
                <h2 id="p-name" class=""></h2>
            </div>

            <div class="profile-main-div">
                <label>Nombre</label>
                <input id="p-name2" class="profile-input" value="Faraon Love Shady" readonly>
            </div>

            <div class="profile-main-div">
                <label class="">Correo electrónico</label>
                <input id="p-email" class="profile-input" type="email" value="test3@example.com" readonly>
            </div>

            <div class="profile-main-div">
                <label class="">Descripción</label>
                <input id="p-description" class="profile-input" value="" readonly>
            </div>

            <div class="profile-main-div">
                <label class="">LinkedIn</label>
                <input id="p-linkedin" class="profile-input" value="" readonly>
            </div>

            <div class="profile-main-div">
                <label class="">Contraseña</label>
                <input id="p-password" class="profile-input" type="password" value="" readonly>
            </div>

            <div class="profile-main-div">
                <button id="p-button" class="profile-button">Editar</button>
            </div>

            <div class="profile-main-div">
                <label id="p-validation"></label>
            </div>
        </div>
    </div>
</section>